.error-panel {
	border: solid 1px #000000;
	display: inline-block;
	height: 31%;
	vertical-align: top;
	width: 190px;
	overflow: auto;
}

.error-list {
	display: inline-block; /* Have to add this to stop list from overlapping board */
	list-style-type: none;
	width: 100%;
}

.error-title {
	font-size: 25px;
}

.error-list-container {
	height: 60%;
}

.error-listing {
	cursor: pointer;
	width: 80%;
	margin: 0 auto;
}

.error-listing {
	background-image: linear-gradient(top, #CECECE, #B4B4B4);
	border: none;
	padding: 1px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
    cursor: pointer;
	color: #000000;
	border-radius: 3px;
}

.error-listing:hover {
	box-shadow: 0 0 3px #193047;
}
.error-listing.selected-error-listing {
	box-shadow: inset 0 0 7px #193047;
}

.error-listing.selected-error-listing:hover {
	box-shadow: 0 0 2px #193047, inset 0 0 7px #193047;
}