.number-input-panel-container {
	display: inline-block;
	height: 250px;
	margin-top: 10px;
	border-top: solid 1px #CCCCCC;
	padding-top: 10px;
}

.number-input-panel {
	height: 100%;
}

.number-input-panel-button {
	border-radius: 5px;
	cursor: pointer;
	float: left;
	font-size: 30px;
	border: 1px solid;
	padding: 11px 20px;
	transition: background-color .2s ease;
	width: 33%;
}

.number-input-button {
	background-color: #337ab7;
	color: #FFFFFF;
}

.number-input-button:hover {
	background: #1A619E;
}

.clear-button {
	background-color: #B4B4B4;
	border: none;
	color: #353535;
	float: right;
	margin-right: 2px;
}

.clear-button:hover {
	background-color: #CECECE;
}

/***************
* MODE BUTTONS
****************/

.square-mode-container {
	border-top: solid 1px #CCCCCC;
	padding-top: 10px;
	margin-top: 5px;
}

.single-mode-button-container {
  width: 50%;
  display: inline-block;
}

.mode-button {
  margin: 0 auto;
  cursor: pointer;
  margin-top: 3px;
  color: #4B7DBF;
  text-align: center;
  width: 43px;
}

.mode-button.selected {
  color: #FFFFFF;
  background-color: #4B7DBF;
  border-radius: 10px;
}

.fill-mode-button {
  font-size: 35px;
}