.number-input-panel-container {
	display: inline-block;
	height: 250px;
	margin-top: 10px;
	border-top: solid 1px #CCCCCC;
	padding-top: 10px;
}

.number-input-panel {
	height: 100%;
}

.number-input-panel-button {
	border-radius: 5px;
	cursor: pointer;
	float: left;
	font-size: 30px;
	border: 1px solid;
	padding: 11px 20px;
	transition: background-color .2s ease;
	width: 33%;
}

.number-input-button {
	background-color: #337ab7;
	color: #FFFFFF;
}

.number-input-button:hover {
	background: #1A619E;
}

.clear-button {
	background-color: #B4B4B4;
	border: none;
	color: #353535;
	float: right;
	margin-right: 2px;
	margin-top: 1px;
}

.clear-button:hover {
	background-color: #CECECE;
}

/***************
* MODE BUTTONS
****************/

.square-mode-container {
	border-top: solid 1px #CCCCCC;
	padding-top: 10px;
	margin-top: 5px;
}

.single-mode-button-container {
	display: inline-block;
	vertical-align: top;
}

.mode-button {
    cursor: pointer;
	color: #4B7DBF;
	text-align: center;
	width: 60px;
	height: 62px;
	margin-left: 12px;
	margin-right: 12px;
	border: solid 1px #E6E6E6;

}

.mode-button.selected {
  color: #FFFFFF;
  background-color: #4B7DBF;
  border-radius: 5px;
}

.mode-button.not-selected:hover {
	background-color: rgba(75, 125, 191, 0.2);
}

.candidate-mode-button.selected .candidate-square-mock {
	background-color: #FDFDFD;
}

.candidate-mode-button .candidate-square-mock {
	background-color: #4B7DBF;
}

.fill-mode-button {
  font-size: 50px;
}

.candidate-square-mock-container {
	margin-top: 3px;
	padding-top: 1px;
	padding-bottom: 3px;
}

.candidate-square-mock {
	width: 0px;
	height: 0px;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	padding: 6px;
	background-color: gray;
	border-radius: 2px;
}