.button-panel {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid;
  font-family: Arial;
}

.button-container {
  height: 100%;
  float: left;
}

.check-button-container {
  width: 20%;
}

.check-button {
  height: 35px;
  width: 65px;
  background-color: #1F7BE6;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 5px; /* This will need to change if the height of the button panel changes*/
  line-height: 30px;  /* needs to be same as the height of the button */
  text-align: center;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.check-button:hover {
  background-color: #3894FF;
}