.game-header {
  text-align: center;
  font-size: 50px;
}

.play-container {
  width: 805px;
  margin: 0 auto;
}

.board-and-error-container {
  text-align: center;
  height: 600px;
}

.error-panel-and-number-input-panel {
  display: inline-block;
  width: 200px;
  height: 100%;
  margin-left: 5px;
}